* {
    background-color: rgb(2, 247, 247);
}

@font-face {
    font-family: CustomFont;
    src: url("assets/fonts/LeagueSpartan-Bold.otf");
}

.navbar {
    background-color: rgb(2, 247, 247);
    font-family: CustomFont;
    padding-top: 0%;
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 35px;
    font-weight: 600;
    color: rgb(35, 43, 43);
    text-decoration: none;
}

li {
    list-style: none;
    display: inline;
    text-decoration: none;
}

li a {
    color: rgb(35, 43, 43);
    font-weight: bold;
    margin-right: 25px;
    font-size: 25px;
    text-decoration: none;
}

li img {
    width: 25px;
    height: 25px;
}

.navhov a:hover {
    background-color: rgb(132, 175, 255);
    color: black;
    padding: 0.5cm;
}

.logo a:hover {
    color: rgb(132, 175, 255);
}
